
.footer {
    position: relative;
    bottom: 0;
    background: #333;
    color: #fff;
    height: 5rem;
    width: 100%;
    margin-bottom: 0;
    padding: 0%;
    z-index: 10;
    min-width: 100vh;

  }
  
  .footerContent{
    position: absolute;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }
  
  .ul {
    position: absolute;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    float: right;
    right: 1rem;
  }
  .li {
    float: right;
    z-index: 1;
    cursor: pointer;
  }

  .li:hover {
      background-color: rgba(106, 243, 168, 0.5);
      transition: 0.8s;
      border-radius: 50px;
      padding: 0;
  }