.item {
    text-align: center;
    margin-left: 3rem;
    margin-right:3rem;
  }

    .center {
      margin: auto;
      width: 30%;
      border: 3px solid green;
      padding: 1rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      border-radius: 14px;
      background-color: white;
    }