/* The Modal (background) */
.modal {
    position: absolute;
    align-content: center;
    text-align: center;
    font-size: 20px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  
  /* Modal Content/Box */
  .modalContent {
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 8rem;    
    background-color: #d4d3d3;
    border-radius: 50px;
    padding: 20px;
    border: 1px solid #888;
    height: 260px;
    width: 300px; 
    font-size: 18px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }