.background {
    position: fixed;
    width: 100%;
    background-color: rgba(250, 246, 246, 0.1);
    margin-top: 0;
    z-index: 100;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}

li button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: inherit;
    border: none;
}
li button:hover {
    background-color: darkcyan;
}
